# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

### GoLand ###
.idea
bin/
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/
**/.DS_Store